<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="user" type="com.huang.pojo.User"/>
		<typeAlias alias="student" type="com.huang.pojo.Student"/>
		<typeAlias alias="class" type="com.huang.pojo.Cclass"/>
		<typeAlias alias="teacher" type="com.huang.pojo.Teacher"/>
	</typeAliases>

</configuration>